.task-list-container{
  border: 1px solid #00ff77;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.task-list-container::-webkit-scrollbar {
  width: 10px;
}
.task-list-container::-webkit-scrollbar-thumb {
  background-color: #08ff00;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.task-list-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(120deg, #0080ff, #5900f4);
}
.task-list-container::-webkit-scrollbar-thumb:active {
}
.task-list-container::-webkit-scrollbar-track {
  background-color: rgba(0, 255, 51, 0.06);
  border-radius: 4px;
}
.search-input{
  border: 1px solid #303030;
  border-left: none;
  background: transparent;
  outline: none;
  transition: .2s ease-in-out;
}
.search-input:hover{
  border: 1px solid rgba(0, 255, 119, 0.42);
  border-left: none;
}
.search-input:focus{
  animation: pulse 1.7s ease-in infinite;
}
@keyframes pulse {
  0%{
    border: 1px solid #303030;
    border-left: none;
  }40%{
    border: 1px solid #00ff77;
    border-left: none;
     }
  80%{
    border: 1px solid #00ff77;
    border-left: none;
  }100%{
    border: 1px solid #303030;
    border-left: none;
   }
}
