<div class="position-relative">
  <h2 class="text-white position-fixed m-3 top-0 start-50">Your tasks: {{tasks.length}}</h2>
  <div class="position-relative task-list-container rounded-3 p-4 mt-1 mx-5 shadow-lg overflow-auto">
    <input type="text" placeholder="Search task by title" class="search-input shadow rounded-3 p-2 text-white m-2 position-absolute top-0 end-0" #searchInput (input)="search.emit(searchInput.value)">
    <div class="tasks-list w-100 d-flex flex-wrap row-cols-3" *ngIf="tasks.length > 0; else noTasks">
      <app-task-item *ngFor="let task of tasks" [task]="task" (delete)="delete.emit($event)" (update)="update.emit($event)" class="task-item m-3"/>
    </div>
    <ng-template #noTasks>
      <h1 class="text-white m-5">No tasks...</h1>
    </ng-template>
  </div>
</div>
