.task-group-form{
  border: 1px solid transparent;
  border-left: 3px solid #00ff77;
  background: rgba(0, 255, 119, 0.08);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  transition: .2s ease-in-out;
}
.task-group-form:hover{
  border: rgba(0, 255, 119, 0.33) 1px solid;
  border-left: 3px solid #00ff77;
}
.search-input{
  background: #212529;
}
.btn-add{
  border: 1px solid transparent;
  font-style: italic;
  font-size: 18px;
  background: linear-gradient(145deg, rgba(8, 255, 0, 0.04), rgba(72, 227, 144, 0.07));
  color: whitesmoke;
  letter-spacing: 2px;
  transition: all 0.2s ease;
}
.btn-add:hover{
  transform: translateY(-2px) scale(1.02);
  border: 1px solid #00ff77;
}
.btn-add:active {
  transform: translateY(4px) scale(0.97);
}
@media (max-width: 600px) {
  footer{
    flex-direction: column;
  }
}
