*{
  background: #212529;
}
.task-groups{
  max-height: 100vh;
}
@media (max-width: 650px){
  *{
    padding: 5px;
    margin: 5px;
  }
  .task-groups{
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
