.task-form-add{
  border: #00ff77 1px solid;
}
.new-task-info{
  border-left: #0059ff 2px solid;
  background: rgba(0, 140, 255, 0.07);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #0059ff;
}
.btn-add{
  border: 0;
  font-size: 18px;
  background: linear-gradient(145deg, #08ff00, #009947);
  box-shadow: 0 8px 0 #00663b, 0 15px 25px rgba(0,0,0,0.5);
  color: whitesmoke;
  letter-spacing: 1px;
  transition: all 0.1s ease;
}
.btn-add:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0 #009947, 0 12px 30px #08ff00;
}
.btn-add:active {
  transform: translateY(4px);
  box-shadow: 0 4px 0 #009947;
}
.search-input{
  border: 1px solid #303030;
  border-left: none;
  background: transparent;
  outline: none;
  transition: .2s ease-in-out;
}
.search-input:focus{
  border: 1px solid #00ff77;
  border-left: none;
}
.statuses-info{
  border-left: #ff9100 2px solid;
  background: rgba(255, 153, 0, 0.07);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ff9100;
}
@media (max-width: 800px) {
  .task-form-add{
    margin-left: 15px;
    margin-right: 15px;
  }
}
